# https://goframe.org/docs/web/server-config-file-template
server:
  address:     ":8002"
  openapiPath: "/api.json"
  swaggerPath: "/swagger"

# https://goframe.org/docs/core/glog-config
logger:
  level : "all"
  stdout: true

# https://goframe.org/docs/core/gdb-config-file
database:
  default:
    link: "mysql:gbaseadmin:gbaseadmin123@tcp(127.0.0.1:44001)/gbaseadmin"
    debug: true
    charset: "utf8mb4"

# https://goframe.org/docs/components/os-gredis-config
redis:
  default:
    address: "127.0.0.1:44002"
    pass: "gbaseadmin123"
    db: 0

# JWT 配置
jwt:
  secret: "change_me"
  expire: 24  # Token 过期时间（小时）
